.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-aligned {
  float: left;
}

.container {
  display: flex;
  justify-content: flex-end;
}